.burgerNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
}

.burgerMenu {
  margin: 5vh;
  width: 200px;
  height: 90vh;
  border-radius: 30px;
  padding: 10vh 0 0 0;
  position: fixed;
  top: 0;
  z-index: 2;
  left: -100%;
  transition: left 0.3s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  text-shadow: 0 0px 5px black;
}
@media (max-width: 700px) {
  .burgerMenu {
    padding: 0;
    backdrop-filter: blur(20px) contrast(80%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 1.2rem;
  }
}
#burgerToggle {
  position: relative;
  left: 3vh;
  top: 3vh;
  z-index: 3;
}

.openBurger {
  left: 0;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 172;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 172;
}

.open .top {
  stroke-dashoffset: -132px;
}
.open .middle {
  stroke-dashoffset: -71px;
}
.open .bottom {
  stroke-dashoffset: -132px;
}
.cart:hover {
  transform: scale(1.1);
}
.navLine {
  height: 4px;
  width: 100%;
  padding: 30px 0 0 0;
  border-bottom: 1px solid;
  border-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 0%,
      transparent 60%,
      transparent 100%
    )
    1;
}
.burgerMenu li {
  width: fit-content;
  cursor: pointer;
  margin: 30px 0 0 20px;
  text-align: left;
  position: relative;
}
.burgerMenu li::before,
.burgerMenu a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  background-color: rgba(47, 6, 32, 0.667);
  z-index: -1;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.37, -0.86, 0, 2);
}

.burgerMenu li:is(:hover, :focus-visible, :focus)::before,
.burgerMenu a:is(:hover, :focus-visible, :focus)::before {
  transform: translate(-50%, -50%) scale(60);
  outline: none;
  color: black;
}
section {
  animation: fadeIn 0.3s ease-in both;
  height: auto;
  width: auto;
}
@keyframes fadeIn {
  from {
    filter: blur(3px);
    opacity: 0.3;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
.ham-isOpen {
  transform: translateX(110px);
  transition-delay: 0.2s;
  transition: 0.3s ease-in-out;
}
@media (max-width: 700px) {
  .ham-isOpen {
    transform: translateX(0);
  }
}
li:has(.profileIcon-nav) {
  padding: 0;
  align-self: center;
}
.profileIcon-nav {
  width: 80px;
  clip-path: circle(50%);
}
