.burgerNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
}

.burgerMenu {
  margin: 5vh;
  width: 200px;
  height: 90vh;
  border-radius: 30px;
  padding: 10vh 0 0 0;
  position: fixed;
  top: 0;
  z-index: 2;
  left: -100%;
  backdrop-filter: blur(20px);
  transition: left 0.3s ease;
  list-style: none;
}

#burgerToggle {
  position: relative;
  left: 3vh;
  top: 3vh;
  z-index: 3;
}

.openBurger {
  left: 0;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 172;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 172;
}

.open .top {
  stroke-dashoffset: -132px;
}
.open .middle {
  stroke-dashoffset: -71px;
}
.open .bottom {
  stroke-dashoffset: -132px;
}
.cart:hover {
  transform: scale(1.1);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 2.5;
  stroke-linecap: round;
}
.navLine {
  height: 1px;
  width: 100%;
  margin: 30px 0;
  border-bottom: 1px solid;
  border-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 0%,
      transparent 60%,
      transparent 100%
    )
    1;
}
.burgerMenu li {
  margin: 30px 0 0 25px;
  text-align: left;
  cursor: pointer;
}
section {
  animation: fadeIn 0.3s ease-in both;
  height: auto;
  width: auto;
}
@keyframes fadeIn {
  from {
    filter: blur(3px);
    opacity: 0.3;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
.ham-isOpen {
  transform: translateX(110px);
  transition-delay: 0.2s;
  transition: 0.3s ease-in-out;
}
