.updateProfile-form {
  width: 800px;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "titl titl titl"
    "img name surname"
    "img nickname email"
    "bio bio bio"
    "sta sta btn";
  gap: 1.5rem;
  h1 {
    grid-area: titl;
    text-align: left;
    width: 100%;
  }
  button[type="submit"] {
    font-size: 1.25rem;
    grid-area: btn;
    width: fit-content;
    place-self: end;
  }
}

@media (max-width: 900px) {
  .updateProfile-form {
    align-items: center;
    justify-content: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
    }
  }
  .updateProfile-form input {
    font-size: 0.8rem;
  }
}

.updateProfile-form > * {
  position: relative;
  place-self: center;
  width: 100%;
}
.updateProfile-form input {
  border-top: none;
  border-left: none;
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
}
.updateProfile-form div::before {
  content: attr(data-text);
  font-family: "Playwrite NO", cursive;
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  display: inline-block;
  opacity: 0.5;
}
.updateProfile-name {
  grid-area: name;
}
.updateProfile-nickname {
  grid-area: nickname;
}
.updateProfile-surname {
  grid-area: surname;
}
.updateProfile-email {
  grid-area: email;
}
.updateProfile-bio {
  grid-area: bio;

  input {
    border-radius: 30px;
    text-align: unset;
  }
}
