.auth-container {
  display: grid;
  grid-template-columns: 1r;
  grid-auto-rows: auto auto;
  width: clamp(300px, 95%, 700px);
}
.authComponent-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  padding: 15px;
  margin-top: 10px;
}
.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.uncorrectPassword,
.uncorrectLoggin {
  animation: no 0.3s ease both;
  border: 1px solid red !important;
}

@keyframes no {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
.toggleHide,
.authStatus {
  padding: 0.25rem 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
}
.authBtn-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    border-radius: 50px;
    margin: 5px;
    transition-timing-function: cubic-bezier(0.64, -1.2, 0.83, 2.23);
  }
}
.authBtn-wrapper:has(.loginBtn:hover),
.authBtn-wrapper:has(.loginBtn.activeBtn) {
  grid-template-columns: 1.5fr 1fr;
}
.authBtn-wrapper:has(.registerBtn:hover),
.authBtn-wrapper:has(.registerBtn.activeBtn) {
  grid-template-columns: 1fr 1.5fr;
}
.loginForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
  h2 {
    grid-area: 1 / 1 / 2 / 3;
  }
  button[type="submit"] {
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: end;
  }
}
.loggin-psw {
  position: relative;
}
.loggin-psw > input {
  width: 100%;
}
.login-toggleHide {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.registerForm {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto auto auto;
}
.registerForm > * {
  position: relative;
}
.registerForm input {
  width: 100%;
  border-top: none;
  border-left: none;
}
.registerForm div::before {
  content: attr(data-text);
  font-family: "Playwrite NO", cursive;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 100%;
  pointer-events: none;
  display: inline-block;
}
.registerForm button,
.registerForm em {
  place-self: center;
  grid-column: span 2;
}
@media (max-width: 500px) {
  .authForm {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
    height: auto;
  }
  .registerForm div {
    margin: 1rem 0;
  }
}
