.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.authComponent-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 0 1.5rem 1.5rem;
  border-top: none;
  padding: 10px;
  margin: 0px;
}
.authBtn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    border-radius: 50px 50px 0 0;
    padding-bottom: 0.25rem;
  }
  .activeBtn {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
}

.uncorrectPassword {
  animation: no 0.3s ease both;
  border: 1px solid red;
}
@keyframes no {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
.toggleHide,
.authStatus {
  padding: 0.25rem 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
}
