.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.authComponent-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  padding: 15px;
  margin-top: 10px;
}
.authBtn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    border-radius: 50px;
    margin: 5px;
  }
  .activeBtn {
    background: rgba(0, 0, 0, 0.326);
  }
}

.uncorrectPassword,
.uncorrectLoggin {
  animation: no 0.3s ease both;
  border: 1px solid red !important;
}

@keyframes no {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}
.toggleHide,
.authStatus {
  padding: 0.25rem 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
}
